# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (falls je genutzt)
Pods/
